.Card{
  width : 100px;
  height : 150px;
  border : .5px solid gray;
  }

.Date{
  color : rgb(130, 130, 130);
}

.HighTemp{
  color : rgb(60, 60, 60);
  font-size : 1em;
}

.LowTemp{
  color : rgb(130, 130, 130);
  font-size : 1em;
}